
@media  (max-width :991px){
    .header .header-content{
        padding-top: 50px;
    }
    .left-content img{
        width: 100%;
    }
    .testimonial p {
      font-size: 19px;
      margin: 5px auto;
    }
    
}
@media  (max-width :767px){
    .fa-bars{
        display:inline-block;
        padding-top: 20px;
        color: white;
        font-size: 30px;
    }
    .new-list{
        display: none;
    }
    .left-content , .right-content{
        float: none;
        width: 100%;
    }
    .menu .menu-item .items{
        width: 50%; 

    }
     .menu-item .items p{
        font-size: 15px;
    }
    
}
@media  (max-width :567px){
   h1{
    font-size: 45px;
   }
   .header .header-content p{
    font-size: 28px;
   }
   .header .header-content img{
    width: 100%;
   }
   .review .left-content{
    padding-top:0 ;
   }
   .right-content p , .review .left-content p{
    font-size: 14px;
   }
   .menu .menu-item .items{
    width: 100%;
    float: none; 

}
}

